* {
    margin: 0px;
    padding: 0px;
}

.header .logo {
    margin-top: 10px;
    text-transform: uppercase;
    color: #fff;
    font-size: 2.2rem;
    font-weight: bolder;
    text-decoration: none;

}

.header .logo span {
    text-transform: uppercase;
    color: #e38528
}

.header {
    margin-top: 40px;
    text-align: center;
}

.sidebar {
    left: 0;
    position: absolute;
    background-color: #222;
    height: 105vh;
    font-family: 'Libre Franklin', sans-serif;
    width: 20vw;
    transition: transform 0.3s ease-in;
}

.sidebar nav {
    padding: 40px;
}

.sidebar nav li {
    font-weight: bolder;
    list-style: none;
    font-size: 20px;
    padding: 4px 0px;
}

.sidebar nav li a {
    justify-content: center;
    display: block;
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    margin: 20px 0;

}

.sidebar nav li a:hover {
    color: #e38528;
    transform: scale(1.03);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.follow img {
    height: 20px;
    width: 20px;
    filter: invert(100%);
    margin-top: 100px;
    margin-left: 30px;
}

.follow {
    align-items: center;
}

.follow img:hover {
    color: #e38528;
}

header .follow img:hover {
    color: #e38528;
}

.main {
    height: 100vh;
    width: 100vw;
    background-color: #fcf2e8;
}

.container {
    display: flex;
    justify-content: center;

}

.cross {
    margin-left: 55px;
}

.infocontainer {
    font-style: 'poppins';
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 144px auto;
    height: 56vh;
    width: 80vw;
}

.pic img {
    height: 55vh;
}

.devinfo .hello {
    font-size: 4rem;
    font-family: 'Cedarville Cursive', cursive;
    color: #e38528;
}

.devinfo h3 {
    font-size: 2rem;
    color: #111;
    text-transform: uppercase;
}

.devinfo h3 span {
    color: #e38528;
    text-transform: uppercase;
}

.devinfo .info {
    font-size: 1.5rem;
    color: #111;
    padding-top: 1.2rem;
}

.devinfo .clg {
    font-size: 1.5rem;
    color: #666;
}


.buttons {
    margin-top: 10px;

}

.buttons button {
    padding: 0.5em 1em;
    color: #e38528;
    background-color: #f8f9fa;
    font-size: 1rem;
    border: 3px solid #e38528;
    font-weight: 700;
    margin: 0px 6px;
}

.buttons button:hover {
    border-color: #111;
    color: black;
    background-color: white;
    cursor: pointer;

}

.hello {
    font-size: 70px;

}

.info {
    font-size: 40px;
    font-weight: bold;

}

.clg {
    margin-top: 20px;
    font-size: 20px;
}

/* contact-form styling */

.contact {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    font-family: 'Noto Sans', sans-serif;

}

.details {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 70px;
    padding: 40px;
    font-size: 20px;
}

.email {
    display: flex;
    align-items: center;
    padding: 15px 0px;
    margin-top: 20px;

}

.phone {
    display: flex;
    align-items: center;
    padding: 15px 0px;
}

.location {
    display: flex;
    align-items: center;
    padding: 15px 0px;
}

.email img {
    width: 30px;
    height: 30px;
    padding-right: 15px;
}

.phone img {
    width: 30px;
    height: 30px;
    padding-right: 15px;
}

.location img {
    width: 30px;
    height: 30px;
    padding-right: 15px;

}

.contact-form {
    width: 45vw;
    margin: 0 auto;
    margin-right: 40px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.contact-form h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.contact-form input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.contact-form textarea {
    border: none;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding-left: 5px;
    padding-top: 5px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.contact-form button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #555;
}


/* Education-Styling */
.Education {
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin: 0px auto;
    justify-content: space-between;
    margin-top: 60px;
}

.information {
    display: flex;
    justify-content: center;
    height: 31.31vh;
}

.information ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.Education ul li {
    list-style: none;
    text-align: center;
}

.kv {
    height: 75vh;
    background-color: bisque;
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    flex-direction: column;
    width: 25vw;
    border-radius: 20px;
    transition: transform 0.5s;
}

.kv:hover {
    transform: scale(1.03);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.narayana {
    background-color: bisque;
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
    width: 25vw;
    border-radius: 20px;
    transition: transform 0.5s;
}

.narayana:hover {
    transform: scale(1.03);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}


.SRIT {
    background-color: bisque;
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
    width: 25vw;
    border-radius: 20px;
    transition: transform 0.5s;
}

.SRIT:hover {
    transform: scale(1.03);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.image img {
    width: 150px;
    height: 150px;
}

h4 {
    text-align: center;
    font-size: 33px;
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    text-align: center;
}

.sidebarGo {
    transform: translate(-443px, 0px);
    position: absolute;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.ham img {
    filter: invert(100%);
}

.cross {
    margin-left: 245px;
}


/*about*/
.about {
    margin: 160PX AUTO;
    padding: 20PX;
    height: 10VH;
    width: 70VW;
    display: flex;
    align-items: center;
}

.myimage img {
    height: 300px;
    display: flex;
    justify-content: space-around;

}

.skills-container {
    display: flex;
    height: 30vh;
    align-items: center;
}

.skills h3 {
    display: flex;
    justify-content: space-between;
    color: #555;
    margin-top: 1em;
}

.skills {
    width: 35vw;
    margin: 4em;
    display: flex;
    flex-direction: column;
}

.skills-container .profile {
    margin: 3px auto;

}

.skills progress {
    display: flex;
    justify-content: space-around;
}

.abouts {
    margin-left: 2em;
    font-size: 2rem;
}

.abouts h2 {
    text-align: center;
}

.abouts h2 span {
    text-align: center;
    font-family: 'Fira sans', sans-serif;
    color: #e38528;
}

.myinfo h5 {
    font-size: 3rem;

}

.myinfo span {
    font-size: 3rem;

}

.myinfo p {
    font-family: 'Fira sans', sans-serif;
    padding: 60px;
    font-size: 20px;
    color: #777;
}

h5 {
    font-family: 'Fira sans', sans-serif;
    color: #222;
    text-align: center;
    font-size: 35px;
}

h5 span {
    font-family: 'Fira sans', sans-serif;
    color: #e38528;
    text-align: center;
    font-size: 35px;
}

.profile {
    height: 40vh;
}

.profile h1 {
    height: 10vh;
}

.profiles h3 {
    font-size: 3em;
    margin-bottom: 40PX;
}

.profiles h2 {
    margin-TOP: 5PX;
    color: #777;
    font-size: 30px;
}

.profiles span {
    color: #e38528;
    font-size: 1em;
}

.skills {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.progress img {
    display: flex;
    height: 10vh;
}


/* projects */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.portfolio-header {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.portfolio-header h1 {
    margin: 0;
}

.portfolio-header p {
    margin-top: 10px;
    font-size: 1.2em;
}

.portfolio-container {
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.portfolio-item {
    margin-top: 50px;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.5s;
}

.portfolio-item:hover {
    transform: scale(1.03);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.portfolio-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.item-info {
    background-color: #fff;
    padding: 20px;
}

.item-info h2 {
    margin-top: 0;
}

.item-info p {
    margin-bottom: 0;
}

@media screen and (max-width: 700px) {
    .Education {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        justify-content: space-between;
        width: 20vw;
    }

    .kv {
        width: 80vw;
        height: 60vh;
    }

    .narayana {
        margin-top: 20px;
        width: 80vw;
    }

    .SRIT {
        margin-top: 20px;
        width: 80vw;
    }

    .Education h4 {
        font-size: 25px;
    }

    .sidebar {
        width: 70vw;
        height: 190vh;

    }

    .main {
        height: 190vh;
        width: 100vw;
        background-color: #fcf2e8;
    }

    .information ul {
        font-size: 17px;
        font-weight: bold;
    }

    .infocontainer {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .pic {
        align-items: center;
        margin-top: 100px;
    }


    /* about  */
    .about {
        height: 80vh;
        background-color: #fcf2e8;
        margin-bottom: 350px;
        width: 90vw;
        display: flex;
        flex-direction: column;
    }

    .progress img {
        display: flex;
        justify-content: space-around;
        height: 5vh;
    }

    .progress h3 {
        font-size: 13px;
    }
    /* contact  */
    .contact{
        display: flex;
        flex-direction: column;
    }
    .details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 13px;
        margin-right: 40px;
    }

    .contact-form{
        width: 66vw;
    }


}